// spacing
$tiny-spacing	:  8px;
$small-spacing	: 16px;
$base-spacing	:  24px;
$large-spacing	: 40px;
$huge-spacing	:  56px;

$white: #ffffff;
$dark-blue: #03499e;
$blue: #4277b6;
$pink: #be0a68;
$light-orange: #f8c70a;
$dark-orange: #e95414;
$yellow: #fff100;

$font-regular: "Asap", sans-serif;
