@import "./_variables.scss";

.graf-section{

	&__colorbar{
		&-item{
			height: 30px;
		}
		&--1{
			background-color: $pink;
		}
		&--2{
			background-color: $light-orange;
		}
		&--3{
			background-color: $dark-blue;
		}
		&--4{
			background-color: $yellow;
		}
	}

	&__intro{
		padding-top: 90px;
	    min-height: 600px;
		.graf-logo-intro{
			margin:0 auto;
		}
	}

	&__tentang{
		&-content-1{
			background-color: $blue;
		}

		&-content-2{
			background-color: $white;
		}
	}

	&__event{
		&-content-1{
			background-color: $light-orange;
		}
		&-content-2{
			background-color: $white;
		}
	}

	&__peserta{
		&-content{
			background-color: $dark-orange;
		}
	}

	&__galeri{

	}

	&__kontak{
		
	}
	
	&__footer{
		background-color: $light-orange;
		text-align: center;

	}
}